Repository AET-DevOps25/team-scrumbags, pull requests merged in 2025-07, with the labels that each got.

#56 Upload meeting notes
  client/src/app/app.config.ts
  client/src/app/app.routes.ts
  client/src/app/components/meeting-notes/notes-list/notes-list.component.html
  client/src/app/components/meeting-notes/notes-list/notes-list.component.scss
  client/src/app/components/meeting-notes/notes-list/notes-list.component.ts
  client/src/app/components/meeting-notes/notes-upload/notes-upload.component.html
  client/src/app/components/meeting-notes/notes-upload/notes-upload.component.scss
  client/src/app/components/meeting-notes/notes-upload/notes-upload.component.ts
  client/src/app/components/project-add/project-add.component.ts
  client/src/app/environment.ts
  client/src/app/guards/auth.guard.ts
  client/src/app/models/meeting-note.model.ts
  client/src/app/models/project.model.ts
  client/src/app/services/meeting-notes.api.ts
  client/src/app/services/meeting-notes.service.ts
  client/src/app/services/project.api.ts
  client/src/app/services/project.service.ts
  client/src/app/services/user.api.ts
  client/src/app/states/project.state.ts
  client/src/app/views/meeting-notes-detail/meeting-notes-detail.view.html
  client/src/app/views/meeting-notes-detail/meeting-notes-detail.view.scss
  client/src/app/views/meeting-notes-detail/meeting-notes-detail.view.ts
  client/src/app/views/meeting-notes/meeting-notes.view.html
  client/src/app/views/meeting-notes/meeting-notes.view.scss
  client/src/app/views/meeting-notes/meeting-notes.view.ts
  client/src/app/views/project-detail/project-detail.view.html
  client/src/app/views/project-detail/project-detail.view.ts
  client/src/app/views/sidebar/sidebar.component.ts
  client/src/assets/env.js
  client/src/assets/env.template.js
  docker-compose.local.yml
  docker-compose.prod.yml
  mock-meeting-notes/Dockerfile
  mock-meeting-notes/config.go
  mock-meeting-notes/docker-compose.yml
  mock-meeting-notes/go.mod
  mock-meeting-notes/go.sum
  mock-meeting-notes/main.go
  project-management/bruno/environments/local.bru
  project-management/bruno/meeting-notes/File Metadata.bru
  project-management/bruno/meeting-notes/File.bru
  project-management/bruno/meeting-notes/Upload File.bru
  project-management/bruno/meeting-notes/folder.bru
  project-management/bruno/projects/All Projects.bru
  project-management/bruno/projects/Assign User to Project.bru
  project-management/bruno/projects/Create Project.bru
  project-management/bruno/projects/Get Project Users.bru
  project-management/bruno/projects/folder.bru
  project-management/bruno/projects/hello.bru
  project-management/bruno/projects/props.bru
Labels: service:client

#82 76 transcription add tests
  .github/workflows/transcription-build.yml
  transcription/build.gradle
  transcription/docker-compose.yml
  transcription/src/main/java/com/trace/transcription/controller/SpeakerController.java
  transcription/src/main/java/com/trace/transcription/controller/TranscriptController.java
  transcription/src/main/java/com/trace/transcription/dto/TranscriptSegment.java
  transcription/src/main/java/com/trace/transcription/model/TranscriptEntity.java
  transcription/src/test/java/com/trace/transcription/SpeakerControllerTest.java
  transcription/src/test/java/com/trace/transcription/TranscriptControllerTest.java
  transcription/src/test/java/com/trace/transcription/TranscriptionApplicationTests.java
  transcription/src/test/resources/application.properties
  transcription/transcriber.py
Labels: priority:high, service:transcription

#31 11 transcription microservice setup java service in combination with local whisper
  .github/workflows/client-build.yml
  .github/workflows/transcription-build.yml
  .github/workflows/transcription-package.yml
  .gitignore
  .vscode/settings.json
  transcription/.env.template
  transcription/.gitattributes
  transcription/.gitignore
  transcription/Dockerfile
  transcription/audio/alex.wav
  transcription/audio/meeting_recording.wav
  transcription/audio/sam.wav
  transcription/bruno/Delete Speaker.bru
  transcription/bruno/Get Samples.bru
  transcription/bruno/Get Speakers.bru
  transcription/bruno/Post Receive.bru
  transcription/bruno/Post Speakers.bru
  transcription/bruno/Put Sample.bru
  transcription/bruno/bruno.json
  transcription/bruno/environments/local.bru
  transcription/build.gradle
  transcription/docker-compose.yml
  transcription/file-separator.wav
  transcription/gradle/wrapper/gradle-wrapper.jar
  transcription/gradle/wrapper/gradle-wrapper.properties
  transcription/gradlew
  transcription/gradlew.bat
  transcription/requirements.txt
  transcription/settings.gradle
  transcription/src/main/java/com/trace/transcription/TranscriptionApplication.java
  transcription/src/main/java/com/trace/transcription/config/AsyncConfig.java
  transcription/src/main/java/com/trace/transcription/controller/SpeakerController.java
  transcription/src/main/java/com/trace/transcription/controller/TranscriptController.java
  transcription/src/main/java/com/trace/transcription/dto/LoadingResponse.java
  transcription/src/main/java/com/trace/transcription/dto/TranscriptInput.java
  transcription/src/main/java/com/trace/transcription/dto/TranscriptSegment.java
  transcription/src/main/java/com/trace/transcription/model/SpeakerEntity.java
  transcription/src/main/java/com/trace/transcription/model/TranscriptEntity.java
  transcription/src/main/java/com/trace/transcription/repository/SpeakerRepository.java
  transcription/src/main/java/com/trace/transcription/repository/TranscriptRepository.java
  transcription/src/main/java/com/trace/transcription/service/SpeakerService.java
  transcription/src/main/java/com/trace/transcription/service/TranscriptService.java
  transcription/src/main/resources/application.properties
  transcription/src/test/java/com/trace/transcription/SpeakerControllerTest.java
  transcription/src/test/java/com/trace/transcription/TranscriptControllerTest.java
  transcription/src/test/resources/application.properties
  transcription/transcriber.py
Labels: service:transcription, stacked

#54 35 setup genai microservice
  .github/workflows/genai-build.yml
  .github/workflows/genai-package.yml
  genai/.env.template
  genai/Dockerfile
  genai/README.md
  genai/app/db.py
  genai/app/langchain_provider.py
  genai/app/main.py
  genai/app/models.py
  genai/app/queue_consumer.py
  genai/app/weaviate_client.py
  genai/bruno/Get Chat History.bru
  genai/bruno/Get Summaries.bru
  genai/bruno/Get Summary.bru
  genai/bruno/Post Content.bru
  genai/bruno/Post Query.bru
  genai/bruno/bruno.json
  genai/bruno/environments/local.bru
  genai/docker-compose.local-ollama.yml
  genai/docker-compose.yml
  genai/requirements.txt
Labels: service:genai, stacked

#63 Add client report generation in client
  client/src/app/app.routes.ts
  client/src/app/models/project.model.ts
  client/src/app/models/report.model.ts
  client/src/app/services/meeting-notes.service.ts
  client/src/app/services/report.api.ts
  client/src/app/services/report.service.ts
  client/src/app/states/project.state.ts
  client/src/app/views/meeting-notes/meeting-notes.view.ts
  client/src/app/views/project-detail/project-detail.view.html
  client/src/app/views/project-detail/project-detail.view.ts
  client/src/app/views/report-overview/report-content/report-content.view.html
  client/src/app/views/report-overview/report-content/report-content.view.scss
  client/src/app/views/report-overview/report-content/report-content.view.ts
  client/src/app/views/report-overview/report-list/report-list.view.html
  client/src/app/views/report-overview/report-list/report-list.view.scss
  client/src/app/views/report-overview/report-list/report-list.view.ts
  client/src/app/views/report-overview/report-overview.view.html
  client/src/app/views/report-overview/report-overview.view.scss
  client/src/app/views/report-overview/report-overview.view.ts
  client/src/assets/env.js
  docker-compose.local.yml
  mock-genai/Dockerfile
  mock-genai/bruno/Generate Report.bru
  mock-genai/bruno/Report Content.bru
  mock-genai/bruno/Report Metadata.bru
  mock-genai/bruno/bruno.json
  mock-genai/bruno/environments/local.bru
  mock-genai/config.go
  mock-genai/docker-compose.yml
  mock-genai/go.mod
  mock-genai/go.sum
  mock-genai/main.go
  mock-genai/rand-text.go
  mock-meeting-notes/bruno/File Metadata.bru
  mock-meeting-notes/bruno/File.bru
  mock-meeting-notes/bruno/Upload File.bru
  mock-meeting-notes/bruno/bruno.json
  mock-meeting-notes/bruno/environments/local.bru
  project-management/bruno/All Projects.bru
  project-management/bruno/Assign User to Project.bru
  project-management/bruno/Create Project.bru
  project-management/bruno/Get Project Users.bru
  project-management/bruno/environments/local.bru
  project-management/bruno/hello.bru
  project-management/bruno/meeting-notes/folder.bru
  project-management/bruno/projects/folder.bru
  project-management/bruno/props.bru
Labels: service:client

#67 Add FAQ Chat in Client
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.html
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.scss
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.ts
  client/src/app/components/meeting-notes/notes-list/notes-list.component.html
  client/src/app/components/meeting-notes/notes-list/notes-list.component.ts
  client/src/app/models/message.model.ts
  client/src/app/models/project.model.ts
  client/src/app/services/chat.api.ts
  client/src/app/services/chat.service.ts
  client/src/app/states/project.state.ts
  client/src/app/views/faq-chat.view/faq-chat.view.html
  client/src/app/views/faq-chat.view/faq-chat.view.scss
  client/src/app/views/faq-chat.view/faq-chat.view.ts
  client/src/app/views/meeting-notes/meeting-notes.view.html
  client/src/app/views/meeting-notes/meeting-notes.view.ts
  client/src/app/views/project-detail/project-detail.view.html
  client/src/app/views/project-detail/project-detail.view.ts
  client/src/app/views/report-overview/report-content/report-content.view.html
  client/src/app/views/report-overview/report-content/report-content.view.ts
  client/src/app/views/report-overview/report-list/report-list.view.html
  client/src/app/views/report-overview/report-list/report-list.view.ts
  client/src/app/views/report-overview/report-overview.view.html
  client/src/app/views/report-overview/report-overview.view.ts
  client/src/app/views/sidebar/sidebar.component.html
  mock-genai/bruno/All Messages.bru
  mock-genai/bruno/Send Message.bru
  mock-genai/bruno/collection.bru
  mock-genai/go.mod
  mock-genai/go.sum
  mock-genai/main.go
  mock-meeting-notes/bruno/Upload File.bru
Labels: service:client, stacked

#88 Add swagger for project management
  project-management/build.gradle
Labels: service:project-management

#107 48 add settings for transcription
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.html
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.scss
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.ts
  client/src/app/components/settings-transcription/settings-transcription.component.html
  client/src/app/components/settings-transcription/settings-transcription.component.scss
  client/src/app/components/settings-transcription/settings-transcription.component.ts
  client/src/app/models/transcription-users.model.ts
  client/src/app/services/transcription.api.ts
  client/src/app/views/project-settings/project-settings.view.html
  client/src/app/views/project-settings/project-settings.view.ts
  docker-compose.local.yml
  genai/app/main.py
  genai/bruno/Get Chat History.bru
  genai/bruno/Get Summaries.bru
  genai/bruno/Get Summary.bru
  genai/bruno/Post Query.bru
  genai/bruno/environments/local.bru
  init-mysql.sql
  transcription/bruno/Delete Speaker.bru
  transcription/bruno/Get Samples.bru
  transcription/bruno/Get Speakers.bru
  transcription/bruno/Post Receive.bru
  transcription/bruno/Post Speakers.bru
  transcription/bruno/Put Sample.bru
  transcription/bruno/environments/local.bru
  transcription/build.gradle
  transcription/docker-compose.yml
  transcription/src/main/java/com/trace/transcription/controller/SpeakerController.java
  transcription/src/main/java/com/trace/transcription/controller/TranscriptController.java
  transcription/src/main/java/com/trace/transcription/model/SpeakerEntity.java
  transcription/src/main/java/com/trace/transcription/service/SpeakerService.java
  transcription/src/main/java/com/trace/transcription/service/TranscriptService.java
  transcription/src/main/resources/application.properties
  transcription/src/test/java/com/trace/transcription/SpeakerControllerTest.java
Labels: service:transcription, service:client, stacked

#111 109 genai add swagger
  genai/app/main.py
Labels: documentation, service:genai

#83 77 genai add tests
  .github/workflows/genai-build.yml
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.html
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.ts
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.html
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.scss
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.ts
  client/src/app/components/settings-transcription/settings-transcription.component.html
  client/src/app/components/settings-transcription/settings-transcription.component.scss
  client/src/app/components/settings-transcription/settings-transcription.component.ts
  client/src/app/models/meeting-note.model.ts
  client/src/app/models/project.model.ts
  client/src/app/models/transcription-users.model.ts
  client/src/app/services/meeting-notes.api.ts
  client/src/app/services/meeting-notes.service.ts
  client/src/app/services/transcription.api.ts
  client/src/app/states/project.state.ts
  client/src/app/views/meeting-notes/meeting-notes.view.html
  client/src/app/views/meeting-notes/meeting-notes.view.ts
  client/src/app/views/project-settings/project-settings.view.html
  client/src/app/views/project-settings/project-settings.view.ts
  docker-compose.local.yml
  genai/app/db.py
  genai/app/langchain_provider.py
  genai/app/main.py
  genai/app/weaviate_client.py
  genai/bruno/environments/local.bru
  genai/docker-compose.workflow.yml
  genai/requirements.txt
  genai/tests/test_endpoints.py
  init-mysql.sql
  transcription/bruno/Delete Speaker.bru
  transcription/bruno/Get Samples.bru
  transcription/bruno/Get Speakers.bru
  transcription/bruno/Post Receive.bru
  transcription/bruno/Post Speakers.bru
  transcription/bruno/Put Sample.bru
  transcription/bruno/environments/local.bru
  transcription/docker-compose.yml
  transcription/src/main/java/com/trace/transcription/controller/SpeakerController.java
  transcription/src/main/java/com/trace/transcription/controller/TranscriptController.java
  transcription/src/main/java/com/trace/transcription/model/SpeakerEntity.java
  transcription/src/main/java/com/trace/transcription/service/SpeakerService.java
  transcription/src/main/java/com/trace/transcription/service/TranscriptService.java
  transcription/src/main/resources/application.properties
  transcription/src/test/java/com/trace/transcription/SpeakerControllerTest.java
  transcription/src/test/java/com/trace/transcription/TranscriptControllerTest.java
Labels: service:genai, stacked

#106 Implement Polling for transcription
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.html
  client/src/app/components/meeting-notes-upload/meeting-notes-upload.component.ts
  client/src/app/components/settings-transcription/settings-transcription-users/settings-transcription-users.component.ts
  client/src/app/models/meeting-note.model.ts
  client/src/app/services/meeting-notes.api.ts
  client/src/app/services/meeting-notes.service.ts
  client/src/app/views/meeting-notes/meeting-notes.view.html
  client/src/app/views/report-overview/report-list/report-list.view.html
  genai/app/main.py
  transcription/build.gradle
  transcription/src/main/java/com/trace/transcription/config/SecurityConfig.java
  transcription/src/main/java/com/trace/transcription/controller/SpeakerController.java
  transcription/src/main/java/com/trace/transcription/controller/TranscriptController.java
  transcription/src/main/java/com/trace/transcription/dto/LoadingResponse.java
  transcription/src/main/java/com/trace/transcription/service/SpeakerService.java
  transcription/src/main/java/com/trace/transcription/service/TranscriptService.java
  transcription/src/test/java/com/trace/transcription/SpeakerControllerTest.java
  transcription/src/test/java/com/trace/transcription/TranscriptControllerTest.java
Labels: service:transcription, service:client

#108 81 add tests for communications microservice
  .github/workflows/comms-build.yml
  comms-connector/bruno/DevOps Scrumbags Comms Integration/Trace/Get all connections.bru
  comms-connector/bruno/DevOps Scrumbags Comms Integration/Trace/Get platform connections.bru
  comms-connector/build.gradle
  comms-connector/src/main/java/com/trace/comms_connector/CommsController.java
  comms-connector/src/main/java/com/trace/comms_connector/CommsService.java
  comms-connector/src/main/java/com/trace/comms_connector/connection/ConnectionEntity.java
  comms-connector/src/main/java/com/trace/comms_connector/user/UserEntity.java
  comms-connector/src/test/java/com/trace/comms_connector/CommsConnectorApplicationTests.java
  comms-connector/src/test/resources/application.properties
Labels: service:communication

#137 GenAI: stability improvement through better rabbitmq connection checks
  .github/workflows/genai-build.yml
  genai/app/db.py
  genai/app/langchain_provider.py
  genai/app/main.py
  genai/app/queue_consumer.py
  genai/app/weaviate_client.py
  genai/bruno/Get Chat History.bru
  genai/bruno/Get Summaries.bru
  genai/bruno/Get Summary.bru
  genai/bruno/Post Query.bru
  genai/tests/test_endpoints.py
Labels: service:genai

#156 Adjust READMEs
  README.md
  client/README.md
  comms-connector/README.md
  docs/.$subsystem.drawio.bkp
  docs/subsystem.drawio
  docs/subsystem.drawio.png
  genai/README.md
  project-management/README.md
  sdlc-connector/.env.example
  sdlc-connector/README.md
  sdlc-connector/bruno/MockGithubEvent.bru
  sdlc-connector/bruno/collection.bru
  sdlc-connector/bruno/environments/k8.bru
  sdlc-connector/bruno/environments/local.bru
  sdlc-connector/bruno/environments/vm.bru
  sdlc-connector/docs/.$sdlc.class.drawio.bkp
  sdlc-connector/docs/sdlc.class.drawio
  sdlc-connector/docs/sdlc.class.drawio.png
  transcription/README.md
Labels: documentation
